/*  CSS Items   */

body {
	font-family: Arial ;
	
}
h1 {
	color:red;
	background: blue;
}
.cat{
	color:blue ;
}
#dog{color:orange;
}
.css-statements {border:3px dotted blue;
}
.uses { border :3px solid turquoise ;
background:#00ff00;}