<!DOCTYPE html>
<html>
<head>
	<title>CSS Playground </title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">




</head>
<body>
	<h1>CSS Items</h1>

    <div class="uses">
	<h3>Uses</h3>
	<ul>
		<li>To give the apperance of your site, a unique look and feel</li>
		<li>To alter colors, fonts, backgrounds, etc.</li>
		<li>To implement some effects and animations, although it's not as powerful as jQuery/JavaScript</li>
    </ul>
</div>
    <hr>
    <div class="css-statements">
    <h3>CSS Statement</h3>
    <p>Four main components of CSS statement</p>
       <ol>
       	<li><b>Declaration:</b>The whole CSS statement in Curly braces.</li>
       	<li><b>Selector:</b>The name of the part you want to style.</li>
       	<li><b>Property:</b>properties of edit(e.g., width, height, background, etc.)</li>
       	<li><b>Value:</b>numbers, colors, urls - things to give value to the property.</li>
       </ol>
   </div>

       <h3 id="dog">Classes<h3>
       	<h1 class = "cat">Hello</h1>
       	<img src="../img/gif.jpg">
       	<hr>









</body>
</html>