<!DOCTYPE html>
<html>
<head>
	<title>CSS Playground </title>

	<link rel="stylesheet" type="text/css" href="../css/main.css">




</head>
<body>
  <div class="nav">

        <ul>
          <li><a class="default">Home</a></li>
          <li><a href="html-playground.html">HTML</a></li>
          <li><a href="CSS-Playground.html">CSS</a></li>
          <li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
          <li><a href="Javascript-Playground.html">Javascript</a></li>
          <li><a href="jQuery-Playground.html">jQuery</a></li>
          <li><a href="Git-Playground.html">Git</a></li>
          <li><a href="Resources-Playground.html">Resources</a></li>




        </ul>
    </div>
	<h1>CSS Items</h1>

    <div class="uses">
	<h3>Uses</h3>
	<ul>
		<li>To give the apperance of your site, a unique look and feel</li>
		<li>To alter colors, fonts, backgrounds, etc.</li>
		<li>To implement some effects and animations, although it's not as powerful as jQuery/JavaScript</li>
    </ul>
</div>
    <hr>
    <div class="css-statements">
    <h3>CSS Statement</h3>
    <p>Four main components of CSS statement</p>
       <ol>
       	<li><b>Declaration:</b>The whole CSS statement in Curly braces.</li>
       	<li><b>Selector:</b>The name of the part you want to style.</li>
       	<li><b>Property:</b>properties of edit(e.g., width, height, background, etc.)</li>
       	<li><b>Value:</b>numbers, colors, urls - things to give value to the property.</li>
       </ol>
   </div>

       <h3 id="dog">Classes<h3>
       	<h1 class = "cat">Hello</h1>
       	<img src="../img/gif.jpg">
       	<hr>
    <div class = "face"></div>
    <div class = "lefteye"></div>
    <div class = "righteye"> </div>
    <div class = "rightpupil"></div>
    <div class = "leftpupil"></div>
    <div class = "mouth"></div>
    <div class = "tongue"></div>
    <div class = "nose"></div>
    <div class = "eyebrow"></div>

    








</body>
</html>