<!DOCTYPE html>
	<html>
	<head>
		<title>HTML Playground</title>

		<link rel="stylesheet" type="text/css" href="../css/main.css">








	</head>
	<body>
		<div class="nav">

        <ul>
          <li><a class="default">Home</a></li>
          <li><a href="html-playground.html">HTML</a></li>
          <li><a href="CSS-Playground.html">CSS</a></li>
          <li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
          <li><a href="Javascript-Playground.html">Javascript</a></li>
          <li><a href="jQuery-Playground.html">jQuery</a></li>
          <li><a href="Git-Playground.html">Git</a></li>
          <li><a href="Resources-Playground.html">Resources</a></li>




        </ul>
   
		<h1>HTML Items</h1>
		<h2>Header Tags</h2>
		<h1>h1</h1>
		<h3>h3</h3>
		<h6>h6</h6>
		<hr>

		<h2>Paragraph Tag</h2>
		<p>This is really fun. I love donuts :)</p>

		<hr>
		<h2>Hyperlinks and href</h2>
		<p>Use the "a href" tag for a link. Copy and paste the Url of the link</p>
		<a href="http://www.w3schools.com/html/html_images.asp">w3schools resources</a>
	</hr>
	<h2>Images</h2>
	<p>Images are really easy to add. create a folder called "img" . Save images in img folder.</P>
		<p>Use the "img src" tag.</p>
		<img src="../img/Funny.jpg">
		<hr>
		<h1>Divs</h1><div id="blue" style= "color:blue">

		    <p>Hello</p>
		</div>
		<hr>
		    <div id = "red" style = "color:red">
		    	<p>This is red</p>
		    </div>
		    <div id = "back" style = "background:red">
		    	<br>
		    	<br>
		    </div>







	</div>









	


	</body>
</html>