<!DOCTYPE html>
<html>
	<head>
		<title>Javascript Playground</title>

		<link rel="stylesheet" type="text/css" href="../css/main.css">








	</head>
	<body>
		<div class="nav">

        <ul>
          <li><a class="default">Home</a></li>
          <li><a href="html-playground.html">HTML</a></li>
          <li><a href="CSS-Playground.html">CSS</a></li>
          <li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
          <li><a href="Javascript-Playground.html">Javascript</a></li>
          <li><a href="jQuery-Playground.html">jQuery</a></li>
          <li><a href="Git-Playground.html">Git</a></li>
          <li><a href="Resources-Playground.html">Resources</a></li>




        </ul>
   
		<h1>Javascript Items</h1>

    <h2> Age </h2>
    <p>I am <a id="my-age"></a> years of age</p>

    <h2>Graduation</h2>
    <p>I graduate in <a id="graduation-year"></a></p>

    <h2>Kids</h2>
    <p>I have <a id"number-kids"></a></p>

    <h2>Funny Line</h2>


    <h2>Guess who my favorite artist is</h2>

<button onclick="myFunction1()">Click To See.</button>

<p id="button1"></p>

<script>
function myFunction1() {
    document.getElementById("button1").innerHTML = "Ariana Grande";
}
</script>



<h2>What is my favorite color? </h2>

<button onclick="myFunction2()">Click To See</button>

<p id="button2"></p>

<script>
function myFunction2() {
    document.getElementById("button2").innerHTML = "Green";
}
</script>



<h2>What is my favorite sport?</h2>

<button onclick="myFunction3()">Click To See</button>

<p id="button3"></p>

<script>
function myFunction3() {
    document.getElementById("button3").innerHTML = "IDK! Either Baseball or Basketaball";
}
</script>






	

       <script src="../js/scripts.js"></script>
	</body>
</html>