<!DOCTYPE html>
<html>
	<head>
		<title>Rescources Playground</title>

		<link rel="stylesheet" type="text/css" href="../css/main.css">
 







	</head>
	<body>
		<div class="nav">

        <ul>
          <li><a class="default">Home</a></li>
          <li><a href="html-playground.html">HTML</a></li>
          <li><a href="CSS-Playground.html">CSS</a></li>
          <li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
          <li><a href="Javascript-Playground.html">Javascript</a></li>
          <li><a href="jQuery-Playground.html">jQuery</a></li>
          <li><a href="Git-Playground.html">Git</a></li>
          <li><a href="Resources-Playground.html">Resources</a></li>
      </ul>
  </div>

		<h1>Resources Items</h1>
		




        
   







	


	</body>
</html>