<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Playground</title>

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
​
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  </head>
  <body>   
      <div class="nav">
        <ul>
          <li><a class="default">Home</a></li>
          <li><a href="html-playground.html">HTML</a></li>
          <li><a href="CSS-Playground.html">CSS</a></li>
          <li><a href="Bootstrap-Playground.html">Bootstrap</a></li>
          <li><a href="Javascript-Playground.html">Javascript</a></li>
          <li><a href="jQuery-Playground.html">jQuery</a></li>
          <li><a href="Git-Playground.html">Git</a></li>
          <li><a href="Resources-Playground.html">Resources</a></li>
        </ul>
      </div>

      <div>
        <h2>Inspiration & Motivation</h2>
        <p>Here's a little image to keep in mind when things get tough in coding.</p>
        <img src="../img/gif.jpg" />
      </div>

      <div class = "resources">
        <h2>Resources</h2>
            <h3>Here are some good resources</h3>
        <table border="1">
          <tr>
             <td>Languages</td>
             <td>Site Name</td>
             <td>Link</td>
             <td>Description</td>
          </tr>
          <tr>
            <td>HTML, CSS, JavaScript, jQuery</td>
            <td>w3schools</td>
            <td><a href="https://www.w3schools.com">w3schools</td>
            <td>This site has practice examples for basic web development.</td>
          </tr>
           <tr>
            <td>Bootstrap</td>
            <td>bootstrap.com</td>
            <td><a href="https://www.getbootstrap.com">bootstrap</td>
            <td>This site helps you learn how to bootstrap so that webpages and websites can fit on smaller devices such as smart phones.</td>
          </tr>
           <tr>
            <td>Any coding language</td>
            <td>Stack Overflow</td>
            <td><a href="https://www.stackoverflow.com">stackoverflow</td>
            <td>As you become more familiar with web development this becomes a developers best friend.</td>
          </tr>
           <tr>
            <td>HTML, CSS, JavaScript, jQuery, 
              Git, Command Line, Python</td>
            <td>Codecademy</td>
            <td><a href="https://www.codecademy.com">w3schools</td>
            <td>A great reference to get started if you are kind of familiar with coding.</td>
          </tr>
        </table>
      </div>














    </body>  
</html>
		




        
   







	

